<mat-nav-list>
  <div class="user-info">
    <mat-icon class="avatar">account_circle</mat-icon>
    <span class="username">{{ auth.currentUser() }}</span>
  </div>
  <mat-divider></mat-divider>

  <a mat-list-item routerLink="/" (click)="close.emit()">
    <mat-icon matListItemIcon>dashboard</mat-icon>
    <span matListItemTitle>Dashboard</span>
  </a>

  @if (auth.isAdmin()) {
    <a mat-list-item routerLink="/subjects" (click)="close.emit()">
      <mat-icon matListItemIcon>book</mat-icon>
      <span matListItemTitle>Materias</span>
    </a>
    <a mat-list-item routerLink="/users" (click)="close.emit()">
      <mat-icon matListItemIcon>people</mat-icon>
      <span matListItemTitle>Usuarios</span>
    </a>
    <a mat-list-item routerLink="/tutorias" (click)="close.emit()">
      <mat-icon matListItemIcon>school</mat-icon>
      <span matListItemTitle>Tutorías</span>
    </a>
    <a mat-list-item routerLink="/my-bookings" (click)="close.emit()">
      <mat-icon matListItemIcon>event_note</mat-icon>
      <span matListItemTitle>Reservas</span>
    </a>
  }

  @if (auth.isTutor() && !auth.isAdmin()) {
    <a mat-list-item routerLink="/tutorias" (click)="close.emit()">
      <mat-icon matListItemIcon>search</mat-icon>
      <span matListItemTitle>Buscar tutorías</span>
    </a>
    <a mat-list-item routerLink="/my-tutorias" (click)="close.emit()">
      <mat-icon matListItemIcon>school</mat-icon>
      <span matListItemTitle>Mis anuncios</span>
    </a>
    <a mat-list-item routerLink="/tutor-bookings" (click)="close.emit()">
      <mat-icon matListItemIcon>event_note</mat-icon>
      <span matListItemTitle>Solicitudes</span>
    </a>
  }

  @if (auth.isStudent() && !auth.isAdmin() && !(auth.isTutor() && !auth.isAdmin())) {
    <a mat-list-item routerLink="/tutorias" (click)="close.emit()">
      <mat-icon matListItemIcon>search</mat-icon>
      <span matListItemTitle>Buscar tutorías</span>
    </a>
    <a mat-list-item routerLink="/my-bookings" (click)="close.emit()">
      <mat-icon matListItemIcon>event_note</mat-icon>
      <span matListItemTitle>Mis reservas</span>
    </a>
  }

  @if (auth.isTutor() && auth.isStudent() && !auth.isAdmin()) {
    <a mat-list-item routerLink="/my-bookings" (click)="close.emit()">
      <mat-icon matListItemIcon>event_note</mat-icon>
      <span matListItemTitle>Mis reservas</span>
    </a>
  }

  <mat-divider></mat-divider>

  <a mat-list-item routerLink="/profile" (click)="close.emit()">
    <mat-icon matListItemIcon>person</mat-icon>
    <span matListItemTitle>Mi perfil</span>
  </a>
</mat-nav-list>
